@font-face {
	font-family: hermit;
	src: url('../font/hermit.otf')
}

html,body {
	height: 100%;
}

body {
	margin: 0;
	overflow: hidden;
	background: #333;
}

.rooms {
	width: 100%;
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.room {
	width: 100%;
	height: 100%;
	display: inline-block;
	background-size: 100% 100%;
}

#room0 {
	background: url('../img/UI_home.png') no-repeat;
}

#room1 {
	background: #ab3f3f;
	font-family: hermit;
	color: white;
	font-size: 20px;
	text-align: left;
}

#room2 {
	background: url('../img/UI_kitchen.png') no-repeat;
}

.foods {
	width: 80%;
	height: 60px;
	font-size: 0;
	position: absolute;
	top: 50px;
	left: 10%;
	z-index: 2;
	white-space: nowrap;
}

.foods div {
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
	width: 80px; height:80px;
	border: 1px solid white;
	display: inline-block;
}

#bread {
	background: url('../img/bread.png') no-repeat 40%;
	background-size : 70%;
	margin-right: 20px;
}

#cake {
	background: url('../img/cake.png') no-repeat 90%;
	background-size : 90%;
	margin-right: 20px;
}

#vitamin {
	background: url('../img/medicine.png') no-repeat 60%;
	background-size : 70%;
}

#room3 {
	background: url('../img/UI_playroom.png') no-repeat;
}

#room4 {
	background: url('../img/UI_toilet.png') no-repeat;
}

#room5 {
	background: url('../img/UI_sickbay.png') no-repeat;
}

#room6 {
	background: url('../img/UI_home.png') no-repeat;
}

#pet {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
}