html,body {
	height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  background: #333;
}

.room {
  width: 100%; height: 100%;
  display: inline-block;
  background-size: 100% 100%;
}

#room0 { background: url('../img/UI_home.png') no-repeat;}
#room1 { background: #ab3f3f }
#room2 { background: url('../img/UI_kitchen.png') no-repeat; }
#room3 { background: url('../img/UI_playroom.png') no-repeat; }
#room4 { background: url('../img/UI_toilet.png') no-repeat; }
#room5 { background: url('../img/UI_sickbay.png') no-repeat; }
#room6 { background: url('../img/UI_home.png') no-repeat; }

#pet {
	width: 100%; height:100%;
	position:absolute;
	z-index:10;
	background: url('../img/otaku_happy.gif') no-repeat 45% 75%;
	background-size : 50%;
}